name: Run Pytest

on:
  push:
    branches: [ "*" ]
    tags: 
      - 'v*.*.*'
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install -r requirements.txt
          # optional: install your pkg itself
          # pip install -e .

      - name: Run pytest
        run: pytest -v
  release:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v') 
    needs: test  # Wait for tests to pass first
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Create Release
        uses: softprops/action-gh-release@v2